<header class="navbar">
  <section class="navbar-section">
    <a href="/home" class="navbar-brand mr-2">Home</a>
    <a href="/index" class="navbar-brand mr-2">BlogPost</a>
    <a href="/portfolio" class="btn btn-link">Portfolio</a>
    <a href="/freq_ask_question" class="btn btn-link">FAQ</a>
    <a href="/about" class="btn btn-link">About</a>
    <a href="/contact" class="btn btn-link">Contact</a>
  </section>
  {{#if search}}
  <section class="navbar-section">
    <form class="form-form" method="POST" action="{{search_path}}">
      <div class="input-group input-inline">
        <input
          class="form-input"
          type="text"
          name="search"
          placeholder="search"
        />
        <button class="btn btn-primary input-group-btn">Search</button>
      </div>
    </form>
  </section>
  {{/if}}
  <section class="navbar-section">
    {{#if login_status}}
    <a href="/logout" class="navbar-brand mr-2">Logout</a>
    {{else}}
    <a href="/login" class="navbar-brand mr-2">Login</a>
    {{/if}}
  </section>
</header>

<div style="height: 100%;">
  {{#if Home}}
     <h2>Hello world, this is Hongjian</h2> 
  {{/if}}



  {{#if blog}}
    {{#if author}}
      <div>
        <a href="/add_blog" class="navbar-brand mr-2">Add New Blog</a>
      </div>

    {{/if}}
    
    {{#if Blogs.length}}
      <div class="flex-table-form">
        <div class="index-table-form">
          <table class="table">
            <thead>
              <tr>
                <th>title</th>
                <th>createTime</th>
                {{#if author}}
                  <th>Operation</th>
                {{/if}}
              </tr>
            </thead>
            <tbody>
              {{#each Blogs}}
                <tr class="active">
                  <td><a href="/blog/{{id}}">{{title}}</a></td>
                  <td>{{createTime}}</td>
                  {{#if author}}
                    <td>
                      <form
                        class="form-form"
                        method="POST"
                        action="delete_blog"
                      >
                        <input
                          value="{{id}}"
                          type="hidden"
                          name="delete_blog_id"
                        />
                        <button class="btn btn-primary">Delete</button>
                      </form>
                    </td>
                  {{/if}}
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    {{/if}}
  {{/if}}

  {{#if blogpage}}
    <div class="blog-detail-form">
      <div class="blog-title-form">
        <h1>{{title}}</h1>
      </div>
      <div class="blog-content-form">
        <p>{{content}}</p>
      </div>
    </div>

  {{/if}}

  <div style="display: flex; flex-direction: column; align-items: center;">
  {{#if FAQ.length}}
    <div class="index-table-form">
      <table class="table">
        <thead>
          <tr>
            <th>question</th>
            <th>answer</th>
            {{#if faq_author}}
            <th>operation</th>
            {{/if}}
          </tr>
        </thead>
        <tbody>
          {{#each FAQ}}
            <tr class="active">
              <td>{{question}}</td>
              <td>{{answer}}</td>
              {{#if author}}
              <td>
                <div style="display: flex;">
                  <div style="padding: 1%;">
                    <form class="form-form" method="POST" action="update_faq" style="display: flex;">
                      <div>
                        <input class="form-input" type="answer_update" name="answer_update" id="answer_update" placeholder="Answer">
                      </div>
                      <div>
                        <input value="{{id}}" type="hidden" name="update_faq_id">
                        <button class="btn btn-primary">Update</button>
                      </div>
                    </form>
                  </div>
                  <div style="padding: 1%;">
                  <form class="form-form" method="POST" action="delete_faq">
                    <input value="{{id}}" type="hidden" name="delete_faq_id">
                    <button class="btn btn-primary">Delete</button>
                  </form>
                  </div>
                </div>
              </td>
              {{/if}}
            </tr>
          {{/each}}
          
        </tbody>
      </table>
    </div>
  {{/if}}
  
  {{#if faq}}
  <div style="width: 100%;">
  <form class="form-form" method="POST" action="add_faq">
    <div class="faq-submit-form">
      <div class="faq-question">
        <div>
          <label class="form-label" for="question">Question</label>
        </div>
        <div>
          <input class="form-input" type="text" placeholder="Question" name="question">
        </div>
      </div>
      {{#if faq_author}}
      <div class="faq-answer">
        <div>
          <label class="form-label" for="answer">Answer</label>
        </div>
        <div>
          <input class="form-input" type="text" placeholder="Answer" name="answer">
        </div>
      </div>
      {{/if}}
      <div class="faq-add-button">
        <button class="btn btn-primary">Add</button>
      </div>
    </div>
  </form>
  </div>
  </div>
  {{/if}}
    


  {{#if portfolio}}
    <div class="portfolio-form">
      {{#each images}}
        <div class="card">
          <div class="card-image">
            <img
              src="/resource/{{file_name}}"
              height="600"
              width="600"
              class="img-responsive"
            />
          </div>
          {{#if portfolio_author}}
          <div class="card-header">
            <form class="form-form" method="POST" action="delete_portfolio">
              <input value="{{file_name}}" type="hidden" name="delete_portfolio_path">
              <button class="btn btn-primary">Delete</button>
            </form>
          </div>
          {{/if}}
        </div>
      {{/each}}
      {{#if portfolio_author}}
        <div class="upload-file-form">
          <div>
            File Upload
          </div>
          <div>
            <form
              class="form-form"
              enctype="multipart/form-data"
              method="POST"
              action="upload"
            >
              <input
                type="file"
                id="file"
                name="file"
                accept="image/png, image/jpeg"
              />
              <div class="login-button-form">
                <button class="btn btn-primary">Upload</button>
              </div>
            </form>
          </div>
        </div>
      {{/if}}
    </div>

  {{/if}}

  {{#if aboutMe}}
  <div class="about-me">
    <div class="about-me-text">
      I am Hongjian (Edward), a new media design
      student. I love photography, drawing, and designing both tangible and intangible things.
      For creating digital work, I use PS, AI, ID, XD, Figma, AE, ME, Fusion 360, Keyshot,
      etc.
    </div>
  {{/if}}

  {{#if contactMe}}
  <div class="contact-me">
    <div class="contact-me-text">
      Email: edwardli.rouge@gmail.com
    </div>
    <div class="contact-me-text">
      Phone: 0724337346
    </div>
  {{/if}}
</div>
